@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-[#f7f4ee] text-slate-900;
  font-family: "Fira Sans", ui-sans-serif, system-ui;
}
